<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LocalData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LocalData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
    <connectionStrings>
  <add name="LocalData.Properties.Settings.LocalData" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=..\LocalData.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <applicationSettings>
        <LocalData.Properties.Settings>
   <setting name="Scope" serializeAs="String">
    <value>Scope</value>
   </setting>
   <setting name="ReseedID" serializeAs="String">
    <value>declare @ID int;
select @ID = isnull(max(ID), @min) from Customers where ID between @min and @max;
DBCC CHECKIDENT (Customers, RESEED, @ID);
select @ID = isnull(max(ID), @min) from Orders where ID between @min and @max;
DBCC CHECKIDENT (Orders, RESEED, @ID);</value>
   </setting>
  </LocalData.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISyncService" closeTimeout="00:01:00"
    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
    hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
    maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
    enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/SyncService" binding="netTcpBinding"
   bindingConfiguration="NetTcpBinding_ISyncService" contract="SyncService.ISyncService"
   name="NetTcpBinding_ISyncService" />
        </client>
    </system.serviceModel>
 <userSettings>
  <LocalData.Properties.Settings>
   <setting name="MinID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MaxID" serializeAs="String">
    <value>0</value>
   </setting>
  </LocalData.Properties.Settings>
 </userSettings>
</configuration>