<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SyncConfiguration" type="Microsoft.Synchronization.ClientServices.Configuration.SyncConfigurationSection, SyncSvcUtil, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <SyncConfiguration>
        <SyncScopes>
            <SyncScope Name="Scope" SchemaName="dbo" IsTemplateScope="false"
                EnableBulkApplyProcedures="true">
                <SyncTables>
                    <SyncTable Name="[Customers]" GlobalName="Customers" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="ID" GlobalName="ID" SqlType="int" IsPrimaryKey="true"
                                IsNullable="false" />
                            <SyncColumn Name="Name" GlobalName="Name" SqlType="nchar" IsPrimaryKey="false"
                                IsNullable="false" />
                            <SyncColumn Name="Region" GlobalName="Region" SqlType="int" IsPrimaryKey="false"
                                IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Orders]" GlobalName="Orders" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="ID" GlobalName="ID" SqlType="int" IsPrimaryKey="true"
                                IsNullable="false" />
                            <SyncColumn Name="CustomerID" GlobalName="CustomerID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Item" GlobalName="Item" SqlType="nchar" IsPrimaryKey="false"
                                IsNullable="false" />
                            <SyncColumn Name="Cost" GlobalName="Cost" SqlType="money" IsPrimaryKey="false"
                                IsNullable="false" />
                            <SyncColumn Name="Date" GlobalName="Date" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                </SyncTables>
            </SyncScope>
        </SyncScopes>
        <Databases>
            <TargetDatabase Name="Sync" DbServer="(local)\SQLFULL" DbName="Server"
                UserName="" Password="" UseIntegratedAuth="true" />
        </Databases>
    </SyncConfiguration>
</configuration>