<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SyncService.Properties.Settings.Server" connectionString="Data Source=(local)\SQLFULL;Initial Catalog=Server;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.diagnostics>
        <trace autoflush="true"/>
        <sources>
            <source name="System.ServiceModel"
                            switchValue="Information, ActivityTracing"
                            propagateActivity="true">
                <listeners>
                    <add name="sdt"
                            type="System.Diagnostics.XmlWriterTraceListener"
                            initializeData= "Trace.svcLog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISyncService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="SyncService.SyncService" name="SyncService.SyncService">
                <endpoint binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyncService" contract="SyncService.ISyncService" />
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost/SyncService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SyncService.SyncService">
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>