<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SyncService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="SyncService.Properties.Settings.Server" connectionString="Data Source=(local)\SQLFULL;Initial Catalog=Server;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.diagnostics>
        <trace autoflush="true"/>
        <sources>
            <source name="System.ServiceModel"
       switchValue="Information, ActivityTracing"
       propagateActivity="true">
                <listeners>
                    <add name="sdt"
       type="System.Diagnostics.XmlWriterTraceListener"
       initializeData="Trace.svcLog"  />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISyncService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="SyncService.SyncService" name="SyncService.SyncService">
                <endpoint binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISyncService" contract="SyncService.ISyncService" />
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost/SyncService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SyncService.SyncService">
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
 <applicationSettings>
  <SyncService.Properties.Settings>
   <setting name="IdRange" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="StartId" serializeAs="String">
    <value>0</value>
   </setting>
  </SyncService.Properties.Settings>
 </applicationSettings>
</configuration>